/*
// arnAu bellavista 2023
// elecPorra
// Estils CSS Generals
*/

/* VARIABLES ESTILS ROOT 00 Base */
:root {
	/* Amplada */
	--amplada: 900px;
	/* Marges */
	--marge-quart: 5px;
	--marge-mig: 10px;
	--marge: 20px;
	--marge-doble: 40px;
	/* Colors */
	--color-fons: #2f324c;
	--color-text: #eeeeee;
	--color-primer: #ea5755;
/*	--color-segon: #ea575566; */
	--color-segon: #7a4150;
/*	--color-primer: #cccc00;
	--color-segon: #cccc0050; */
	--color-gris-fosc: #666666;
	--color-gris-clar: #bcbcbc;
	/* Transició */
	--transicio: 0.2s;
}

/* Estils generals */
@media all{
	body{
		margin: 0;
		padding: var(--marge);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 1px;
		color: var(--color-text);
		background-color: var(--color-fons);
		transition: var(--transicio);
	}
	a { color: var(--color-primer); text-decoration: none; }
	a:link { color: var(--color-primer); text-decoration: none; }
	a:visited { color: var(--color-primer); text-decoration: none; }
	a:active { color: var(--color-segon); text-decoration: none; }
	a:hover { color: var(--color-segon); text-decoration: none; }
	
	header,
	article{
		margin: 0 auto;
		max-width: var(--amplada);
	}

	.color{
		color: var(--color-primer);
	}
	.colorFons{
		color: var(--color-fons);
	}
	/* https://isotropic.co/tool/hex-color-to-css-filter/ */
	.colorBlanc{ /* #eeeeee */
		filter: invert(100%) sepia(0%) saturate(342%) hue-rotate(41deg) brightness(114%) contrast(87%);
	}
	.colorCorall{ /* #ea5755 */
		filter: invert(57%) sepia(35%) saturate(3025%) hue-rotate(322deg) brightness(92%) contrast(100%);
	}
	.colorBlauGris{ /* #2f324c */
		filter: invert(17%) sepia(30%) saturate(709%) hue-rotate(194deg) brightness(91%) contrast(89%);
	}

	a img:hover{
		opacity: 0.5;
		transition: var(--transicio);
	}

	.quadre{
		padding: var(--marge-quart) var(--marge-mig);
		background-color: var(--color-segon);
		border-radius: 2px;
	}

	hr{
		margin: 20px 0;
		border: 1px solid var(--color-primer);
	}

	h1{
		color: var(--color-primer);
		font-size: 28px;
	}
	h2{ font-size: 24px; }
	h3{ font-size: 20px; }
	h4{ font-size: 18px; }

	.ocult{
		display: none;
	}
	.alineaEsquerra{
		text-align: left;
	}
	.alineaCentre{
		text-align: center;
	}
	.alineaDreta{
		text-align: right;
	}
	.margeEsq{
		margin-left: var(--marge-mig);
	}
	.textp{
		font-size: 12px;
		line-height: 18px;
		color: var(--color-gris-clar);
	}

/* Contenidors */
	.flex{
		display: flex;
		gap: var(--marge);
	}
	.flex1{ flex: 1; }
	.flex2{ flex: 2; }
	.flex3{ flex: 3; }
	.flex4{ flex: 4; }
	.flex5{ flex: 5; }
	.flex5{ flex: 6; }
/* Fi Contenidors */

/* Taula */
	.taulaes{
		margin-top: var(--marge);
		width: 100%;
		border-collapse: collapse;
	}
/*	.taulaes th{
		margin: 0;
		padding: 0 var(--marge-mig) 0 var(--marge-mig);
	} */
	.taulaes td{
		margin: 0;
		height: 42px;
		border-top: 1px solid var(--color-segon);
	}
	.resultatNum{
		font-size: 20px;
		font-weight: bold;
		padding-right: var(--marge-mig);
	}
	.resultatFinal{
		color: var(--color-fons);
		background-color: var(--color-primer);
	}
	#afegirTr{
		background-color: var(--color-segon);
	}
/* fi Taula */
	
/* INPUTS */
	.inputes{
		margin: 0 var(--marge-mig) 0 0;
		padding: var(--marge-mig) var(--marge);
		font-size: 16px;
		letter-spacing: 2px;
		color: var(--color-text);
		background-color: transparent;
		border: 1px solid var(--color-segon);
		border-radius: 4px;
		cursor: pointer;
	}
	.inputes:hover{
		color: var(--color-text);
		background-color: var(--color-segon);
	}
	
	.inputes::placeholder{
		color: var(--color-gris-clar);
	}
	.inputes:hover::placeholder{
		color: var(--color-text);
	}
	.inputes:focus{
		color: var(--color-fons);
		background-color: var(--color-primer);
		outline: none;
	}
	.inputes:focus::placeholder{
		color: var(--color-text);
	}
	
	.inputinv{
		height: 30px;
		margin: 0;
		padding: var(--marge-quart) var(--marge-mig);
		background-color: transparent;
		border: 0;
		border-radius: 0;
	}
	.inputinv:focus{
		outline: none;
	}

	.inputTextarea{
		width: calc(100% - var(--marge));
		height: 60px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 22px;
	}

	.labelElectes{
		margin-left: var(--marge-mig);
		white-space: nowrap;
	}

	.inputNom{
		margin-bottom: var(--marge-mig);
		width: 300px;
	}

	.candidatura{
		width: 180px;
	}
	.porra{
		width: 120px;
	}
	.resultat{
		width: 50px;
	}
	/* fi INPUTS */
	

	/* Buttons / butons */
	.enviar{
		margin: 0;
		padding: var(--marge-mig) var(--marge);
		font-size: 14px;
		letter-spacing: 2px;
		color: var(--color-text);
		background-color: var(--color-primer);
		border: 0;
		border-radius: 2px;
		cursor: pointer;
		transition: var(--transicio);
	}
	.enviar:hover{
		color: var(--color-gris-clar);
		background-color: var(--color-segon);
	}
	.enviar:active{
		background-color: var(--color-segon);
	}
	.enviar:disabled{
		opacity: 0.5;
		cursor: context-menu;
	}

	.enllaç{
		margin: 0;
		padding: var(--marge-mig) var(--marge);
		font-size: 14px;
		letter-spacing: 2px;
		color: var(--color-primer);
		background-color: transparent;
		border: 0;
		border-radius: 2px;
		cursor: pointer;
		transition: var(--transicio);
	}
	.enllaç:hover{
		color: var(--color-text);
		background-color: var(--color-segon);
	}
	.enllaç:active{
		background-color: var(--color-segon);
	}
	.IconaMig,
	.enllaç img,
	.enviar img{
		vertical-align: middle;
	}

	.creu{
		font-size: 18px;
		cursor: pointer;
	}
/* fi Buttons / butons */



/* Capes MODALS */
	#modalFons{
		z-index: 20;
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%; 
		height: 100%;
		overflow: auto;
		background-color: rgba(0,0,0,0.6);
	}

	.modal{
		z-index: 20;
		display: none;
		position: absolute;
		top: 124px;
		max-width: 600px;
		left: var(--marge); 
		right: var(--marge);
		margin-left: auto; 
		margin-right: auto;
		padding: var(--marge);
		color: var(--color-text);
		background-color: var(--color-fons);
		border-radius: 4px;
	}
		
	.tanca{
		color: var(--color-gris-clar);
		float: right;
		font-size: 32px;
		font-weight: bold;
		transition: var(--transicio);
	}
	.tanca:hover, .tanca:focus{
		color: var(--color-primer);
		text-decoration: none;
		cursor: pointer;
	}
/* fi Capes MODALS */


/* COOKIES */
	.cookiesAvis{
		z-index: 10;
		position: fixed;
		display: block;
		width: calc(100% - var(--marge-doble));
		bottom: 0;
		left: 0;
		margin: 0;
		padding: var(--marge);
		overflow: hidden;
		background-color: var(--color-segon);
		box-shadow: 0px 0px 25px rgba(0,0,0,0.6);
		transition: all 1s ease;
	}
	.cookiesAvis a:hover{
		color: var(--color-gris-clar);
	}
	#cookiesButton,
	#cookiesButton2{
		display: none;
	}
	#cookiesButton:checked ~ .cookiesAvis,
	#cookiesButton2:checked ~ .cookiesAvis{
		bottom: -100vh;
		position: fixed;
	}
	.enviarCookies{
		display: block;
		width: 100%;
		padding: var(--marge-quart) 0;
		margin-bottom: var(--marge-mig);
		text-align: center;
		background-color: var(--color-segon);
		border: 1px solid var(--color-primer);
	}
	.enviarCookies:hover{
		color: var(--color-text);
		background-color: var(--color-primer);
		border: 1px solid var(--color-text);
	}
/* fi COOKIES */


}










@media all and (max-width: 816px){

}







@media all and (max-width: 680px){
	/* Contenidors */
	.flex{
		flex-direction: column;
	}
	/* Fi Contenidors */

	.alineaEsquerra{
		text-align: center;
	}
	.alineaDreta{
		text-align: center;
	}
}






@media all and (max-width: 440px){

}

